body {
    background-color: #d6f6f8;
    font-family: Arial, sans-serif;
  }
  
  form {
    background: #fff;
    border: 1px solid #348798;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .encabezado {
  display: block;
  margin: 20px auto 10px auto; /* top, right, bottom, left */
  max-width: 100%;
  height: auto;
}

  input[type="text"], input[type="submit"] {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
  }
.opcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 10px auto; /* centrado */
}

.opcion label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.opcion img {
  width: 130px;
  height: auto;
  border-radius: 5px;
}
/*centrar y estilizar formulario*/
form {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* estilo input mail*/ 
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

/*estilo botón enviar*/
button, input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  display: block;
  margin: 8px auto 0 auto;
}

/* animacion al pasar el mouse sobre las imagees*/
button:hover, input[type="submit"]:hover {
  background-color: #388e3c;
}

.opcion img {
  transition: transform 0.3s ease;
}

.opcion:hover img {
  transform: scale(1.05);
}

